# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

qt-creator-4.14/bin/
qt-creator-4.14/lib/

*/release/
*/debug/
release/
debug/

*.user

Makefile
Makefile.Release
Makefile.Debug
.qmake.stash

qt-creator-4.14/Makefile*
qt-creator-4.14/src/Makefile*
qt-creator-4.14/src/app/Makefile*

qt-creator-4.14/src/libs/utils/ui_*.h
qt-creator-4.14/src/libs/extensionsystem/ui_*.h

